<% content_for :head do %>
 <%= javascript_include_tag "users.js" %>
<% end %>

<fb:login-button autologoutlink="true" size="large" show-face="true"></fb:login-button>

<div id="status"></div>

<%= link_to "Log in with Facebook", "/auth/facebook" %>
