<h1>Finish Sign-Up</h1>


<form id="test1">
  <input type="text" id="yelp_loc" placeholder="Search Area"><br><br>
  <input type="text" id="yelp_bus1" placeholder="Favorite Location">
  <input class="button" id="button1" type="submit" value="Submit" >
</form>
<br><br>
<form id="test2">
  <input type="text" id="yelp_bus2" placeholder="Second Favorite Location">
  <input class="button" type="submit" value="Submit" >
</form>
<br><br>
<form id="test3">
  <input type="text" id="yelp_bus3" placeholder="Third Favorite Location">
  <input class="button" type="submit" value="Submit" >
</form>