// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///// User Place Selection Start /////
.hidden {
	visibility: hidden;
	height: 0px;
	width: 0px;
}
.test {
	position: absolute;
	top: 135px;
	left: 475px;
}
#test1 {
	top: 100px;
}
.container {
	width: 240px;
	height: 130px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
}
#container1 {
	position: absolute;
	top: 250px;
	right: 740px;
}
#container2 {
	position: absolute;
	top: 250px;
	right: 480px;
}
#container3 {
	position: absolute;
	top: 250px;
	right: 220px;
}
.title {
	font-size: 12px;
	margin-top: 2px;
	text-align: center;
}
.img_add_cont {
	position: relative;
	height: 75px;
	width: 100%;
	margin-top: -5px;
}
.image {
	float: left;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	margin-left: 5px;
}
.address {
	float: right;
	width: 140px;
	font-size: 10px;
	margin-top: 20px;
}
.answer {
	float: right;
}
///// User Place Selection End /////