// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///// User Place Selection Start /////
#test1 {
	position: absolute;
	top: 90px;
	left: 300px;
}
#button1 {
	position: absolute;
	top: 20px;
	left: 140px;
}
#test2 {
	position: absolute;
	top: 260px;
	left: 300px;
}
#test3 {
	position: absolute;
	top: 410px;
	left: 300px;
}
.container {
	width: 240px;
	height: 130px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
}
#container1 {
	position: absolute;
	top: 50px;
	right: 300px;
}
#container2 {
	position: absolute;
	top: 200px;
	right: 300px;
}
#container3 {
	position: absolute;
	top: 350px;
	right: 300px;
}
.title {
	font-size: 12px;
	margin-top: 2px;
	text-align: center;
}
.img_add_cont {
	position: relative;
	height: 75px;
	width: 100%;
	margin-top: -5px;
}
.image {
	float: left;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	margin-left: 5px;
}
.address {
	float: right;
	width: 140px;
	font-size: 10px;
	margin-top: 20px;
}
.categories {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 11px;
}
.yelp_id {
	margin-top: 5px;
	font-size: 10px;
	text-align: center;
}
///// User Place Selection End /////